<h1 class="labels-index">ラベル一覧ページ</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>タスク数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= label.tasks.count %></td>
        <td>
          <%= link_to '編集', edit_label_path(label), class: 'edit-label', class: "btn btn-warning" %>
          <%= link_to '削除', label, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'destroy-label', class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>